html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}

.header {
  background-color: #f3f3f3;
  margin: 0.1px;
  padding: 0.1px;
  height: 75px;
}

.header li {
  list-style-type: none;
  padding: 10px;
}

.header ul {
  display: flex;
  justify-content: flex-start;
}

.header ul a:link {
  text-decoration: none;
}

.header ul a {
  color: black;
}

.header li:first-child {
  flex: 1;
}

.content ul {
  list-style-type: none;
  align-self: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

.content > div {
  display: flex;
  flex-direction: column;
}

.content > div p {
  border: solid #cacaca;
  border-width: 1px;
  padding: 10px;
}

.content > div ul {
  display: flex;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 12px;
  margin-top: 0;
  border-bottom: 1px solid #cacaca;
}

.content > div li {
  padding-left: 10px;
}

.content > div li:first-child {
  flex: 1;
  padding-left: 0;
  color: #cacaca;
}

.content > div a:link {
  text-decoration: none;
}

.content > div a {
  color: black;
}
